.account-row {
  display: grid;
  grid-template-areas: "icon info add-info balance buttons";
  grid-template-columns: 4ch 1fr 17ch 25ch auto;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 1.2rem;
  }

  .account-row-icon {
    grid-area: icon;
    font-size: 2.5rem;
  }

  .account-row-info {
    grid-area: info;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  .account-row-additional-info {
    grid-area: add-info;

    display: grid;
  }

  .account-row-row {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .account-row-balance {
    grid-area: balance;

    font-size: 1.5rem;
    font-weight: 500;

    text-align: end;
    margin-inline-start: 2rem;
  }

  .account-row-buttons {
    grid-area: buttons;

    display: flex;
    gap: 0.5rem;
  }
}


.account-details {
  width: 80%;
  height: 80vh;
  margin-top: 2rem;
  margin-inline: auto;

  &-entry-list {
    height: calc(100% - 13rem);
    overflow-y: auto;
  }
}
