.entry-row {
  display: grid;
  grid-template-areas: "icon id date description amount";
  grid-template-columns: 4ch 10ch 10ch 1fr 10ch;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;


  .id {
    grid-area: id;
  }

  .description {
    grid-area: description;
  }

  .amount {
    grid-area: amount;
    text-align: end;
  }

  .date {
    grid-area: date;
  }
}


.entry-icon {
  --icon-font-size: 1rem;
  --icon-size: calc(var(--icon-font-size) * 2);

  grid-area: icon;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--icon-font-size);
  aspect-ratio: 1;
  width: var(--icon-size);
  height: var(--icon-size);

  padding-bottom: calc(var(--icon-size) * 0.05);
  border-radius: 50%;
  border: 1px solid;
}

.deposit {
  background-color: var(--deposit-bg-color);
  color: var(--deposit-color);
}

.withdraw {
  background-color: var(--withdraw-bg-color);
  color: var(--withdraw-color);
}

.btn-deposit {
  @extend .deposit;

  --bs-btn-hover-color: var(--deposit-color-emphasis);
  --bs-btn-hover-bg: var(--deposit-bg-color-emphasis);
  --bs-btn-hover-border-color: var(--deposit-color);

  border: 1px solid var(--deposit-color);
}

.btn-withdraw {
  @extend .withdraw;

  --bs-btn-hover-color: var(--withdraw-color-emphasis);
  --bs-btn-hover-bg: var(--withdraw-bg-color-emphasis);
  --bs-btn-hover-border-color: var(--withdraw-color);

  border: 1px solid var(--withdraw-color);
}
