.app-layout {
  display: grid;
  grid-template-areas:
    "navbar"
    "main";
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.navbar {
  grid-area: navbar;

  position: sticky;
  top: 0;

  z-index: 10;
}

main {
  grid-area: main;
  overflow-y: auto;

  padding-top: 0.75rem;
}
