<div class="vstack fit-width mb-3 justify-content-center align-items-center">
  <div class="hstack gap-2 range-date-picker">
    <label for="fromDateInput" class="form-label small">Von</label>
    <div class="">
      <div class="date-picker-hidden position-absolute">
        <div class="input-group input-group-sm">
          <input
            name="datepicker"
            class="form-control form-control-sm"
            ngbDatepicker
            #datepicker="ngbDatepicker"
            autoClose="outside"
            (dateSelect)="onDateSelection($event)"
            [displayMonths]="2"
            [dayTemplate]="dayTemplate"
            outsideDays="hidden"
            [startDate]="from!"
            tabindex="-1"
          />
        </div>
      </div>
      <div class="input-group input-group-sm">
        <input class="form-control form-control-sm"
               id="fromDateInput"
               placeholder="tt.mm.jjjj"
               name="dpFromDate"
               [value]="formatter.format(from)"
               (input)="onInputChange(dpFromDate.value, 'from')"
               #dpFromDate />
        <button class="input-group-text"
                (click)="datepicker.toggle()"
                type="button">
          <fa-icon [icon]="faCalendar"></fa-icon>
        </button>
      </div>
    </div>

    <div class="hstack gap-2">
      <label for="toDateInput" class="form-label small">Bis</label>
      <div class="input-group input-group-sm">
        <input class="form-control form-control-sm"
               id="toDateInput"
               placeholder="tt.mm.jjjj"
               name="dpToDate"
               [value]="formatter.format(to)"
               (input)="onInputChange(dpToDate.value, 'to')"
               #dpToDate />
        <button class="input-group-text"
                (click)="datepicker.toggle()"
                type="button">
          <fa-icon [icon]="faCalendar"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="form-text">
    Filtere Buchungen nach Datum.
  </div>
</div>

<ng-template #dayTemplate let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        [class.from]="isFrom(date)"
        [class.to]="isTo(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
