<div class="start">
  <div class="card">
    <h2 class="card-header h5">Kunden</h2>

    <div class="card-body">
      <h3 class="card-title h5 mb-4">
        Verwalten Sie die Kunden der RAYBANK.
      </h3>

      <p class="card-text">
        Alle Funktionen zum Verwalten der Kunden der <em class="fw-light">RAYBANK</em>
        finden Sie hier.
      </p>
      <p class="card-text">
        Hier können Sie bestehende Kundendaten einsehen, neue Kunden hinzufügen
        und Kundendetails sicher anpassen.
      </p>

      <a routerLink="/clients" class="btn btn-secondary">
        Kunden verwalten
      </a>
    </div>
  </div>

  <div class="card">
    <h2 class="card-header h5">Konten</h2>

    <div class="card-body">
      <h3 class="card-title h5 mb-4">
        Verwalten Sie die Konten der RAYBANK.
      </h3>

      <p class="card-text">
        Alle Funktionen zum Verwalten der Kundenkonten der <em class="fw-light">RAYBANK</em>
        finden Sie hier.
      </p>
      <p class="card-text">
        Hier können Sie bestehende Kundenkonten einsehen, neue Konten hinzufügen
        und Kontodetails sicher anpassen.
      </p>

      <a routerLink="/accounts" class="btn btn-secondary">
        Konten verwalten
      </a>
    </div>
  </div>
</div>
