<div class="account-row">
  <div class="account-row-icon">
    <app-account-icon [account]="account()" />
  </div>

  <div class="account-row-info">
    <div>
      <h3>{{ account().iban | iban }}</h3>
      <strong>{{ account().owner | fullName }}</strong>
    </div>
  </div>

  <div class="account-row-additional-info">
    @let acc = account();
    @if (isCurrentAccount(acc)) {
      <app-current-account-additional-info [account]="acc" />
    }
    @if (isSavingsAccount(acc)) {
      <app-savings-account-additional-info [account]="acc" />
    }
  </div>

  <div class="account-row-balance">
    {{ account().balance | currency: "EUR" }}
  </div>

  <div class="account-row-buttons">
    <app-edit-account-button [account]="account()" [showCaption]="false" />
    <app-delete-account-button [account]="account()" [showCaption]="false" />
  </div>
</div>
