<div class="account-row">
  <div class="account-row-icon">
    @if (isCurrentAccount(account())) {
      <fa-icon [icon]="faCreditCard"></fa-icon>
    }
    @if (isSavingsAccount(account())) {
      <fa-icon [icon]="faCoins"></fa-icon>
    }
  </div>

  <div class="account-row-info">
    <div>
      <h3>{{ account().iban | iban }}</h3>
      <strong>{{ account().owner | fullName }}</strong>
    </div>
  </div>

  <div class="account-row-additional-info">
    @let acc = account();
    @if (isCurrentAccount(acc)) {
      <app-current-account-additional-info [account]="acc" />
    }
    @if (isSavingsAccount(acc)) {
      <app-savings-account-additional-info [account]="acc" />
    }
  </div>

  <div class="account-row-balance">
    {{ account().balance | currency: "EUR" }}
  </div>

  <div class="account-row-buttons">
    <app-edit-account-button [account]="account()" [showCaption]="false" />
    <button app-delete-button
            caption="Konto schließen"
            [confirmationMessage]="deleteMessage"
            (deleteConfirmed)="onDeleteClick()">
    </button>
  </div>
</div>

<ng-template #deleteMessage>
  <p>
    Soll der Konto „<strong>{{ account().iban }}</strong>“ von {{ account().owner | fullName }}
    wirklich gelöscht werden?
  </p>
  <p class="text-danger">Die Aktion kann nicht rückgängig gemacht werden!</p>
</ng-template>
