<div class="entry-row">
  <i app-entry-icon [entryType]="entry().entryType"></i>

  <div class="id" [ngbTooltip]="entry().id">{{ entry().id | truncatedId }}</div>

  <div class="date">
    {{ entry().entryDate | date: "mediumDate" }}
    {{ entry().entryDate | date: "shortTime" }} Uhr
  </div>

  <div class="description">{{ entry().description }}</div>

  <div class="amount">
    @let amount = entry().entryType === "withdraw" ?
      -entry().amount : entry().amount;
    {{ amount | currency: "EUR" }}
  </div>
</div>
