<div class="hstack gap-2 justify-content-between">
  <strong>{{ client().firstname }} {{ client().lastname }}</strong>

  <div class="hstack gap-2">
    <button app-edit-button
            caption="Kunde bearbeiten"
            [showCaption]="false"
            (editClick)="onEditClick()">
    </button>
    <button app-delete-button
            confirmationTitle="Kunde löschen"
            [confirmationMessage]="deleteMessage"
            (deleteConfirmed)="onDeleteConfirmed()"></button>
  </div>
</div>

<ng-template #deleteMessage>
  <p>
    Soll der Kunde „<strong>{{ client().firstname }} {{ client().lastname }}</strong>“
    wirklich gelöscht werden?
  </p>
  <p class="text-danger">Die Aktion kann nicht rückgängig gemacht werden!</p>
</ng-template>
