<div class="client-details">
  <div class="client-details-info">
    <h3 class="client-details-name">{{ client().firstname }} {{ client().lastname }}</h3>
    <button type="button" class="btn btn-secondary">
      <div class="client-details-accounts">
        Konten: <strong>{{ accountCount ? accountCount : "keine Konten" }}</strong>
        <fa-icon [icon]="faChevronDown" class="ms-3"></fa-icon>
      </div>
    </button>
  </div>

  <div class="client-details-buttons">
    <div class="client-details-net-worth">
      Gesamtguthaben:<br>
      <strong [class.debit-amount]="netWorth < 0"
              [class.credit-amount]="netWorth > 0">
        {{ netWorth | currency: "EUR" }}
      </strong>
    </div>

    <button app-edit-button
            caption="Kunde bearbeiten"
            [showCaption]="false"
            (editClick)="onEditClick()">
    </button>
    <button app-delete-button
            confirmationTitle="Kunde löschen"
            [confirmationMessage]="deleteMessage"
            (deleteConfirmed)="onDeleteConfirmed()"></button>
  </div>
</div>

<ng-template #deleteMessage>
  <p>
    Soll der Kunde „<strong>{{ client().firstname }} {{ client().lastname }}</strong>“
    wirklich gelöscht werden?
  </p>
  <p class="text-danger">Die Aktion kann nicht rückgängig gemacht werden!</p>
</ng-template>
