<div class="card account-details">
  <div class="card-header hstack gap-2 justify-content-between">
    <div class="hstack gap-3">
      <div class="h1">
        <app-account-icon [account]="account!" />
      </div>
      <div>
        <h2 class="card-title h5">
          {{ iban() | iban }}
        </h2>
        <span class="text-muted">{{ account?.owner | fullName }}</span>
      </div>
    </div>

    <div class="hstack gap-2">
      @if (account) {
        <app-edit-account-button [(account)]="account" />
        <app-delete-account-button [account]="account"
                                   (accountDeleted)="onAccountDeleted()" />
      }
    </div>
  </div>

  <div class="card-body">
    <div class="hstack gap-2 justify-content-between">
      <div>
        <div class="text-muted fw-light">Kontostand:</div>
        <div class="card-title display-5 fw-normal">
          {{ account?.balance | currency: "EUR" }}
        </div>
      </div>

      @if (isCurrentAccount(account)) {
        <div>
          <div class="text-muted fw-light">Dispolimit:</div>
          <div class="card-title display-5">
            {{ account.overdraftLimit | currency: "EUR" }}
          </div>
        </div>

        <div>
          <div class="text-muted fw-light">Dispozins:</div>
          <div class="card-title display-5">
            {{ account.overdraftInterestRate | number: "1.2-2" }} %
          </div>
        </div>
      }

      @if (isSavingsAccount(account)) {
        <div>
          <div class="text-muted fw-light">Habenzins:</div>
          <div class="card-title display-5">
            {{ account.interestRate | number: "1.2-2" }} %
          </div>
        </div>
      }

      <div class="d-grid gap-2 justify-content-end">
        <button app-deposit-button
                [account]="account!"
                (depositSuccess)="onDepositSuccess($event)">
        </button>
        <button app-withdraw-button
                [account]="account!"
                (withdrawSuccess)="onWithdrawSuccess($event)">
        </button>
      </div>
    </div>

    <div class="hstack gap-2 mt-4 justify-content-between align-items-baseline">
      <h3 class="card-title h4">
        Buchungen
      </h3>

      <app-date-range-picker [(fromDate)]="from" [(toDate)]="to" />
    </div>

    <div class="account-details-entry-list ">
      <app-entry-list [account]="account!" [(fromDate)]="from" [(toDate)]="to" />
    </div>
  </div>
</div>
