
@use "app/styles/bootstrap_custom";

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use "app/styles/layout";
@use "app/styles/start";
@use "app/styles/clients";
@use "app/styles/accounts";
@use "app/styles/entries";
@use "app/styles/info-cards";
@use "app/styles/date-picker";
@use "app/styles/status-bar";

strong {
  font-weight: 600;
}

.debit-amount {
  color: #dc3545;
}

.credit-amount {
  color: var(--bs-primary);
}

.pointer:hover {
  cursor: pointer;
}

.fit-width {
  width: fit-content;
}
